<div class="dashdiv">
    <span class="signup-form-title"> Edit Class</span>
    <form method="post" class="formdiv m-0" id="editClassForm">
        <table border="0" id="demotable">
            <tbody>
                <tr>
                    <td class="tdlabel"><label for="cname">Class Name</label></td>
                    <td><input type="text" name="cname" id="cname" maxlength="50" value="<%= cname %>" /> (max 30 characters a-z and A-Z)
                    </td>
                </tr>
                <tr>
                    <td class="tdlabel"><label for="desc">Description</label></td>
                    <td>
                        <textarea name="desc" rows="4" cols="30" id="desc" placeholder=""><%= desc %></textarea></td>
                </tr>
                <tr>
                    <td class="tdlabel"><label for="exampleFormControlSelect1">Select Student</label></td>
                    <td class="form-group">
                        <ul>
                            <%if (sname.length != null){ %>
                                <% sname.forEach(function(snames){ %>
                                    <li class="namehide">
                                        <span id="sname"><%= snames %></span>
                                        <a href="#" class="delStudentButton" data-id="<%= snames._id %>">Delete</a>

                                    </li>

                                    <% })}else{ %>
                                        <span>No student found</span>
                                        <% } %>
                        </ul>
                        <a class="btn btn-primary pull-right add-record" data-added="0">&nbsp;Add Row</a>
                    </td>
                </tr>
                <tr id="tablebody"></tr>
                <tr>
                    <td align="center"><input type="submit" id="editClass" value="Edit" class="btn btn-primary" data-id="<%= id %>" /></td>
                    <td><a href="/class">Back</a></td>
                </tr>
            </tbody>
        </table>
    </form>
    <div style="display:none;">
        <table id="sample_table">
            <td class="tdlabel"><label for="exampleFormControlSelect1"></label></td>
            <td align="right" class="form-group">


            </td>
        </table>
    </div>
    <% include ./partials/messages %>
</div>